<!-- <!DOCTYPE html>
<html>
  <head>
      <script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
      <title>pay</title>
  </head>
<body>
  <div >
    <input id="price" type="number"/>
    <button onclick="createQr()">提交</button>
  </div>
  <script>
    function createQr(){
      var price=$('#price').val();
      $.post('?m=yzpay&c=index&a=createQr',{price:price},function(res){
        console.log(res)
      })
    }
  </script>
</body>
</html> -->
{template 'member', 'header'}
<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<div id="memberArea">
    {template 'member', 'left'}
    <div class="col-auto">    
      <div class="col-1 ">
      <h6 class="title">在线充值</h6>
      <div class="content">
        <div style="float:left;width:40%;">
            <p><img src="/statics/images/weixin.jpg" alt=""><img src="/statics/images/alipay.jpg" alt=""></p>
            <p>
              <input type="number" id="price" placeholder="输入充值金额">
              <button onclick="createQr()">充值</button>
            </p>
        </div>
        <div id="qr_code"  style="float:right;width:50%;display:none;">
          <img src="" alt="">
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
</div>
<script>
  function createQr(){
    var price=$('#price').val();
    $.post('?m=yzpay&c=index&a=createQr',{price:price},function(res){
      res=typeof res=='string'?JSON.parse(res):res;
      if(res.errno==0){
        $('#qr_code img').attr('src',res.data.qr_code);
        $('#qr_code').css('display','block');
        var timer=setInterval(function(){
          payStatus(res.data.qr_id,function(o){
            if(o){
              $('#qr_code').css('display','none');
              clearInterval(timer);
              alert(o);
            }
          })
        },5000)
      }
    })
  }

  function payStatus(qr_id,cb){
    $.post('/index.php?m=yzpay&c=index&a=payStatusM',{qr_id:qr_id},function(res){
      res=typeof res=='string'?JSON.parse(res):res;
      if(res.errno==0)
        cb(res.data)
      else cb(false)
    })
  }
</script>
{template 'member', 'footer'}